
.modal-footer {
  border-top: 0px !important;
}
.cardimgContainer{
  position: relative;

}
 .img-container {
  position: relative;
} 
 .img-container img {
  display: block;
} 
 .img-container .right-icon {
  position: absolute;
  top:0; 
  right:0;
} 
.icon-rightAlign {
  float: right;
}
.link_deco {
  text-decoration: none;
}
.hoverbtn:hover {
  background-color: #dc3545;
  border-color: #dc3545;
}
.card-footer {
  cursor: pointer;
}
.hoverHand {
  cursor: pointer;
}
.hoverColorNone:hover{
  background-color: white;
}
.img-round {
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;  
}
.new-card {
  border: none;
  border-style: dashed;
  color: red;
  border-width: 2px;
}
.card-footer{
  border-top: none;
}
.edit_icon {
  display: block;
  position: absolute;
  right: 85%;
  transform: translateY(-55%) translateX(-55%);
}
.delete-icon {
  display: block;
  position: absolute;
  left: 95%;
  transform: translateY(-55%) translateX(-55%);
}


