<div class="container-fluid p-0">
  <div class="mt-4 p-2">
      <p class="text-center text-title">MyRecipeHolder</p>
  </div>
  <hr>
  <div class="d-flex justify-content-center align-items-center p-2 box-container">
      <form class="form-container shadow">
          <div class="form-group">
              <label for="inputRecipeName">Recipe Name</label>
              <input type="text" class="form-control mar-bottom" id=""
                  aria-describedby="">
          </div>
          <div class="form-group">
              <label for="inputRecipeLink">Recipe Link</label>
              <input type="text" class="form-control mar-bottom" id="">
          </div>
          <div class="form-group">
            <label for="inputRecipeLink">Category</label>
            <input type="text" class="form-control mar-bottom" id="">
        </div>
        <div class="form-group">
          <label for="inputRecipeLink">Additional Description</label>
          <input type="text" class="form-control mar-bottom" id="">
      </div>
          <button type="submit" class="btn btn-danger btn-signin align-self-end mar-bottom">Add</button>
      </form>
  </div>
</div>