<div class="container-fluid p-0">
    <div class="margin-header p-2 bg-red">
        <p class="text-center text-title">MyRecipeHolder</p>
    </div>
    <hr class="hide-hr">
    <div class="d-flex justify-content-center align-items-center p-2 box-container">
        <form class="form-container shadow" [formGroup]="signupForm" (submit)="createAccount()">
            <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control" formControlName="username" maxlength="20">
                <div class="text-danger"
                *ngIf="signupForm.controls['username'].invalid && (signupForm.controls['username'].touched || signupForm.controls['username'].dirty)">
                <small>Username cannot be empty</small> 
              </div>
              <div class="text-danger"
              *ngIf="isError">
              <small>Username exits. Try another Username.</small> 
            </div>
            </div>
            <div class="form-group">
                <label class="mar-top">Password</label>
                <input type="password" class="form-control" formControlName="password" maxlength="20">
                <div class="text-danger"
                *ngIf="signupForm.controls['password'].invalid && (signupForm.controls['password'].touched || signupForm.controls['password'].dirty)">
                <small>Password can not be empty</small>
              </div>
            </div>
<!--             <div class="form-group">
              <label>Confirm Password</label>
              <input type="password" class="form-control mar-bottom" formControlName="password">
          </div>  -->
             <button type="submit" class="btn btn-danger btn-signin align-self-end mar-top">Create Account</button>
        </form>
    </div>    
</div>
