<div class="container-fluid p-0">
     <div class="margin-header p-2 bg-red">
         <p class="text-center text-title">MyRecipeHolder</p>
     </div>
     <hr class="hide-hr">
     <div class="d-flex justify-content-center align-items-center p-2 box-container">
         <form class="form-container shadow" [formGroup]="loginForm" (submit)="login()">
             <div class="form-group">
                 <label for="exampleInputEmail1">Username</label>
                 <input type="text" class="form-control" formControlName="username" maxlength="20">
                 <div class="text-danger"
                 *ngIf="loginForm.controls['username'].invalid && (loginForm.controls['username'].touched || loginForm.controls['username'].dirty)">
                 <small>Username can not be empty</small>
               </div>
<!--                <div class="text-danger"
               *ngIf="!isError">
               <small>Invalid Username. Enter again</small>
             </div> -->

             </div>
             <!--This code for future when we implememnt forget password-->
           <!--   <div class="form-group">
                 <label for="exampleInputPassword1">Password (Forgot?)</label>
                 <input type="password" class="form-control mar-bottom" id="exampleInputPassword1">
             </div>  -->
             <div class="form-group">
               <label for="exampleInputPassword1" class="mar-top">Password</label>
               <input type="password" class="form-control" formControlName="password" maxlength="20">
               <div class="text-danger"
               *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].touched || loginForm.controls['password'].dirty)">
               <small>Password cannot be empty</small>
             </div>
             <div class="text-danger"
             *ngIf="!isError">
             <small>Invalid username or password. Enter again</small>
           </div>
           </div> 
              <button type="submit" class="btn btn-danger btn-signin align-self-end mar-top">Login</button>
           <!--   <div class="link-member">
                 <p>Not a member?
                     <a href="#" class="text-decoration-none"><b>Create an account now <i
                                 class="bi bi-chevron-double-right"></i></b></a> </p>
             </div> -->
             
         </form>
     </div>
     <div class="d-flex  justify-content-center align-items-center">
        <p>Not a Member?<a class="link-primary" style="cursor: pointer;" [routerLink]="'/signup'"> Create an account now.</a></p>
     </div>
 </div>

 

