.text-recipe {
    font-size: 20px;
}
.text-link {
    font-style: italic;
    font-weight: light;
}

.img-section img{
    width: 60%;
    height: auto;
}

/* .welcome-section p {
    text-align: center;
} */
.center {
    margin: auto;
    width: 50%;
  }
        /* Media Query for Mobile Devices */
         @media (max-width: 480px) {

        } 
         
        /* Media Query for low resolution  Tablets, Ipads */
         @media (min-width: 481px) and (max-width: 767px) {
            .login-btn {
                display: none;
            }
        } 
         
        /* Media Query for Tablets Ipads portrait mode */
         @media (min-width: 768px) and (max-width: 1024px){
            .login-btn {
                display: none;
            }
        }
          
        /* Media Query for Laptops and Desktops */
         @media (min-width: 1025px) and (max-width: 1280px){
            .login-btn {
                display: none;
            }
        } 
         
        /* Media Query for Large screens */
         @media (min-width: 1281px) {
            .login-btn {
                display: none;
            }
        } 
        